<h1><%= @collection.name %></h1>
<p><%= markdown(@collection.description) %></p>
<%= image_tag @collection.image_url if @collection.image_url.present? %>

<% if current_user == @collection.user || current_user.admin? %>
  <%= link_to 'Edit Collection', edit_collection_path(@collection), class: 'btn btn-secondary' %>
  <%= link_to 'Delete Collection', collection_path(@collection), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>

<h2>Items</h2>
<%= link_to 'Add Item', new_collection_item_path(@collection), class: 'btn btn-primary' %>

<%= form_with(url: collection_path(@collection), method: :get, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :filter, "Filter by name" %>
    <%= form.text_field :filter, value: params[:filter], class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :sort, "Sort by" %>
    <%= form.select :sort, options_for_select([['Name', 'name'], ['Created At', 'created_at']], value: params[:sort]), class: 'form-control' %>
  </div>
  <%= form.submit 'Apply', class: 'btn btn-primary' %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Tags</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.name, collection_item_path(@collection, item) %></td>
        <td><%= item.tags %></td>
        <td>
          <% if @collection.custom_string1_state %>
            <p><%= @collection.custom_string1_name %>: <%= item.custom_string1 %></p>
          <% end %>
          <% if @collection.custom_string2_state %>
            <p><%= @collection.custom_string2_name %>: <%= item.custom_string2 %></p>
          <% end %>
          <% if @collection.custom_string3_state %>
            <p><%= @collection.custom_string3_name %>: <%= item.custom_string3 %></p>
          <% end %>
          <% if @collection.custom_date1_state %>
            <p><%= @collection.custom_date1_name %>: <%= item.custom_date1 %></p>
          <% end %>
          <% if @collection.custom_date2_state %>
            <p><%= @collection.custom_date2_name %>: <%= item.custom_date2 %></p>
          <% end %>
          <% if @collection.custom_date3_state %>
            <p><%= @collection.custom_date3_name %>: <%= item.custom_date3 %></p>
          <% end %>
          <% if @collection.custom_int1_state %>
            <p><%= @collection.custom_int1_name %>: <%= item.custom_int1 %></p>
          <% end %>
          <% if @collection.custom_int2_state %>
            <p><%= @collection.custom_int2_name %>: <%= item.custom_int2 %></p>
          <% end %>
          <% if @collection.custom_int3_state %>
            <p><%= @collection.custom_int3_name %>: <%= item.custom_int3 %></p>
          <% end %>
          <% if current_user == @collection.user || current_user.admin? %>
            <%= link_to 'Edit', edit_collection_item_path(@collection, item), class: 'btn btn-secondary' %>
            <%= link_to 'Delete', collection_item_path(@collection, item), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
