<h1><%= @user.email %>'s Collections</h1>

<%= link_to 'New Collection', new_user_collection_path(@user), class: 'btn btn-primary' %>
<%= link_to 'My Tickets', user_tickets_path, class: 'btn btn-secondary'%>
<p>
  <strong>API Token:</strong>
  <%= @user.api_token %>
  <%= link_to 'Generate New API Token', generate_api_token_user_path(@user), method: :get, class: 'btn btn-primary'%>
</p>

<ul>
  <% @collections.each do |collection| %>
    <li>
      <%= link_to collection.name, collection_path(collection) %>
      <% if collection.user == current_user || current_user.admin? %>
        <%= link_to 'Edit', edit_user_collection_path(@user, collection), class: 'btn btn-secondary' %>
        <%= link_to 'Delete', user_collection_path(@user, collection), method: :delete, data: { turbo_method: :delete, confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      <% end %>
    </li>
  <% end %>
</ul>