<h1>Search Results for "<%= @query %>"</h1>

<% if @items.any? || @collections.any? %>
  <ul>
  
   <% @items.each do |item| %>
      <li>
        <%= link_to item.name, [item.collection, item] %>
        <% if item.tag_list.any? {|tag| tag.include?(@query)}%>
          <p><strong>Matching Tags:</strong>
          <%= item.tag_list.select {|tag| tag.include?(@query)}.join(', ')%></p>
        <% end %>
        <%if item.comments.any? {|comment| comment.body.include?(@query)}%> 
          <p><strong>Matching Comments:</strong>
          <ul>
            <% item.comments.each do |comment| %>
             <% if comment.body.include?(@query )%>
              <li><%= comment.body %></li>
             <% end %>
            <% end %>
          </ul>
        <% end %>              
      </li>
    <% end %>
  </ul>
  
  <ul>
    <% @collections.each do |collection| %>
      <li>
        <%= link_to collection.name, collection %>
        <p><%= collection.description %></p>
      </li>
    <% end %>
  </ul>
  <% else %>
    <p>Not found.</p>
  <% end %>